<div style="font-size:15px;color:#000000;">
<%= link_to "Users", "/users" %> |
<%= link_to "Firms", "/firms" %> |
<%= link_to "Funds", "/funds" %> |
<%= link_to "DB Cleanup Reports", "/db_cleanup/r1" %> |
<%= link_to "Sets", "/admin" %>  | 
<%= link_to "Cleanup Tools", "/db_cleanup/tools" %> 
<br/>

<%= link_to "Generate - phase 1", "/gai/list_ph1" %> | 
<%= link_to "Generate - phase 2 - Global", "/gai/generate_indices?internal_id=list1" %> | 
<%= link_to "Weights - phase 2 - Global", "/gai/weights_ph2" %>
<br/>

<%= link_to "Generate - phase 2 - Investable", "/gai/generate_indices?internal_id=list2" %> |

<%= link_to "ETF List", "/gai/etf_list" %>
<br/>
<%= link_to "Send Reminders", "/admin/generate_invites" %>
<hr/>
</div>