<style>
    .len200 { width:200px; }
    .lenauto { width:auto; }
</style>
<p style="font-weight: bold;">
  Please enter as much information as possible. Items marked with a <span style="color: red;">*</span> are required. When you are finished, click   Save at the bottom of the page to complete this profile.
</p>
<br/><br/>
    <%= hidden_field_tag "id", params[:id] %>

    <div style="float:left;width:400px;">
      <b>Fund Strategy</b><br/>
      <a href='http://www.greenwichai.com/index.php/hf-essentials/strategy-definitions' alt='' target="nnw">Greenwich Hedge Fund Strategy Guide</a>
      <br/><br/>
      <span style="color: red;">*</span>Please select one:	<br/>
      <%
         arr = [	'Long/Short Equity - Growth',
                    'Long/Short Equity - Value',
                    'Long/Short Equity - Opportunistic',
                    'Short-Biased',
                    'Equity Market Neutral',
                    'Convertible Arbitrage',
                    'Merger Arbitrage',
                    'Fixed Income Arbitrage',
                    'Long-Short Credit',
                    'Arbitrage - Other',
                    'Multiple Arbitrage Strategies',
                    'Distressed Securities',
                    'Multiple Event-Driven Strategies',
                    'Macro',
                    'Futures - Systematic',
                    'Futures - Discretionary',
                    'Multi-Strategy',
                    'Fund of Funds' ]
      %>
      <% arr.each do |ar| %>
          <%= radio_button_tag "information[f49]", ar, @fund_information.f49==ar, {:class=>"radiobutton"} %> <%= ar %><br/>
      <% end %>
      <br/>
      <b>Strategy Description</b><br/>
      <%= text_area_tag "information[userdescription]", @fund_information.userdescription, :style=>"width:300px;height:120px;" %>
    </div>

    <div style="float:left;width:400px;">
      <b>Geographical Focus</b><br/><br/>
      <span style="color: red;">*</span>Please select specialty region:<br/>
      Complete only if asset concentration in region is 70% or greater. Otherwise, select None.<br/>
      <br/>

      <% so = SetOfSet.find(:first, :conditions=>["name = ?", "spec_region"]) %>
      <% if so.elem_of_sets.map{|c| c.name}.index(@fund_information.f40).nil? && !@fund_information.f40.nil? && !@fund_information.f40.include?("None")%>
			<%if !@fund_information.f40.blank?%>
				<% select = "other" %>
			<%else%>
				<% select = "" %>
			<%end%>
		<% elsif !so.elem_of_sets.map{|c| c.name}.index(@fund_information.f40).nil? && !@fund_information.f40.nil? %>
			<% select = @fund_information.f40.to_s.strip %>
		<% else %>
			<% select = "None" %>
		<% end %>
      <% if !flash[:notice].nil? && @fund_information.f40.blank?%>

          <%= select_tag "information[f40]",
                         options_for_select([["[Select]",""]]+[["Other","other"]]+(so.elem_of_sets.collect {|c| [c.name,c.name]})+[["None","None"]],select),
                         :onchange=>remote_function(:update=>"sel_f38", :url=>"/wizards/fs_sel1b", :with=>"'id="+params[:id]+"&st_gr='+$('information_f40').value") %>

          <%= text_field_tag("over_information[f40]", so.elem_of_sets.map{|c| c.name}.index(@fund_information.f40).nil? && !@fund_information.f40.nil? && !@fund_information.f40.include?('none') && !@fund_information.f40.include?('other') ? @fund_information.f40 : "", :class=>"validation-failed") %>
      <%else%>

          <%= select_tag "information[f40]",
                         options_for_select([["[Select]",""]]+[["Other","other"]]+(so.elem_of_sets.collect {|c| [c.name,c.name]})+[["None","None"]],select),
                         :onchange=>remote_function(:update=>"sel_f38", :url=>"/wizards/fs_sel1b", :with=>"'id="+params[:id]+"&st_gr='+$('information_f40').value") %>

          <%= text_field_tag("over_information[f40]", so.elem_of_sets.map{|c| c.name}.index(@fund_information.f40).nil? && !@fund_information.f40.nil? && !@fund_information.f40.include?('none') && !@fund_information.f40.include?('other') ? @fund_information.f40 : "") %>
      <% end %>

      <div id="sel_f38">
      </div>

      <hr/>


      <b>Sector Focus</b><br/><br/>
      Please Select Asset Class:<br/>
      Complete only if asset concentration in asset class is 70% or greater<br/>
      <br/>
      <% so = SetOfSet.find(:first, :conditions=>["name = ?", "spec_class"]) %>
      <% if so.elem_of_sets.map{|c| c.name}.index(@fund_information.f48).nil? && !@fund_information.f48.nil? && !@fund_information.f48.include?("None")%>
			<%if !@fund_information.f48.blank?%>
				<% select = "other" %>
			<%else%>
				<% select = "" %>
			<%end%>
		<% elsif !so.elem_of_sets.map{|c| c.name}.index(@fund_information.f48).nil? && !@fund_information.f48.nil? %>
			<% select = @fund_information.f48.to_s.strip %>
		<% else %>
			<% select = "None" %>
		<% end %>
      <%= select_tag "information[f48]", options_for_select([["[Select]",""]]+[["Other","other"]]+(so.elem_of_sets.collect {|c| [c.name,c.name]})+[["None","None"]], select),
                     :onchange=>remote_function(:update=>"sel_f41", :url=>"/wizards/fs_sel2b", :with=>"'id="+params[:id]+"&st_gr='+$('information_f48').value") %>

      <%= text_field_tag("over_information[f48]", so.elem_of_sets.map{|c| c.name}.index(@fund_information.f48).nil? && !@fund_information.f48.nil? && !@fund_information.f48.include?('None') && !@fund_information.f48.include?('other') ? @fund_information.f48 : "") %>

      <div id="sel_f41">
      </div>

    </div>
    <div style="clear:both;">
      <br/><br/>
    </div>

<script type="text/javascript">
    <%= remote_function(:update=>"sel_f38", :url=>"/wizards/fs_sel1b", :with=>"'id="+params[:id]+"&st_gr='+$('information_f40').value") %>
    <%= remote_function(:update=>"sel_f41", :url=>"/wizards/fs_sel2b", :with=>"'id="+params[:id]+"&st_gr='+$('information_f48').value") %>
</script>
