

<style type="text/css">
  
  
  .btr0 td { background-color:#353980; color:#FFFFFF; text-align:center; }
  .btr0 th { background-color:#353980; color:#FFFFFF; font-weight:normal; padding-left: 10px; }
 
 
  .btr1 td { background-color:#808080; color:#FFFFFF; text-align:center; }
  .btr1 th { background-color:#808080; color:#FFFFFF; font-weight:normal; padding-left: 20px; }
  
  .btr2 td { background-color:#DCDCDC; color:#484E8C; text-align:center; }
  .btr2 th { background-color:#DCDCDC; color:#484E8C; font-weight:normal; padding-left: 30px; }
  
  .btr3 td { background-color:#DCDCDC; color:#000000; text-align:center; }
  .btr3 th { background-color:#DCDCDC; color:#000000; font-weight:normal; padding-left: 40px; }

  .btr5 td { background-color:#DCDCDC; color:#484E8C; text-align:center; }
  .btr5 th { background-color:#DCDCDC; color:#484E8C; font-weight:normal; padding-left: 30px; }
  
  .btr6 td { background-color:#808080; color:#FFFFFF; text-align:center; }
  .btr6 th { background-color:#808080; color:#FFFFFF; font-weight:normal; padding-left: 20px; }

  .btr7 td { background-color:#404040; color:#FFFFFF; text-align:center; }
  .btr7 th { background-color:#404040; color:#FFFFFF; font-weight:normal; padding-left: 10px; }
  
  .btr8 td { background-color:#353980; color:#FFFFFF; text-align:center; }
  .btr8 th { background-color:#353980; color:#FFFFFF; font-weight:normal; padding-left: 0px; }
  
  .tbl_gai { width:700px;margin-left:30px; margin-top:10px; font-family:Arial;font-size:8pt; line-height:14pt; }
  .tbl_gai th { text-align:left; }

  .tr_thA { background-color:#353980; color:#FFFFFF; }
  .tr_thA td { background-color:#353980; color:#FFFFFF; text-align:center; }
  .tr_thB { background-color:#808080; color:#FFFFFF; }
  .tr_thB td { background-color:#808080; color:#FFFFFF; text-align:center; }
  .tr_thB th { background-color:#808080; color:#FFFFFF; text-align:center; }
  
  .l_border { border-left: solid 1px #FFFFFF; }
  .r_border { border-right: solid 1px #FFFFFF; }
  .tr_b_border td { border-bottom:solid 1px #FFFFFF; }
</style>

<% dt = (HfIndiceReal.first(:order=>"yr desc,mn desc").yr.to_s+"-"+HfIndiceReal.first(:order=>"yr desc,mn desc").mn.to_s+"-01").to_time %>
<table style="width:640px;margin-left:20px;" class="tbl_gai" cellspacing="0">
<tr class="tr_thA">
    <td style="text-align:left;" class="r_border">&nbsp;</td>
    
    <td colspan="5" class="r_border">Total Return</td>
    <td colspan="2" class="r_border">3 Yr Annualized</td>
    <td colspan="2">5 Yr Annualized</td>    
    <td class="l_border">Weight<br/><%= (dt-1.month).strftime("%b%y") %></td>
  </tr>
  <tr class="tr_thB">
    <td style="text-align:left;width:250px;" class="r_border">&nbsp;</td>
    
    <td class=""><%= dt.strftime("%b%y") %></td>
    <td><%= (dt-1.month).strftime("%b%y") %></td>
    <td>YTD</td>
    <td>3Month</td>
    <td class="r_border">1Year</td>
    <td>CAR</td>
    <td class="r_border">STD</td>
    <td>CAR</td>
    <td>STD</td>
    <td class="l_border">&nbsp;</td>
  </tr>


  <tr class="btr0 tr_b_border">
    <td class="r_border" style="text-align:left;">Greenwich Strategy Group Indices</td>
    
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="r_border">&nbsp;</td>
    <td>&nbsp;</td>
    <td class="r_border">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="l_border">&nbsp;</td>
  </tr>

  <% HfIndiceReal.all(:conditions=>["internal_id = ?", "list1"], :order=>:position).each do |hi| %>
  <%
  
    fund_name = hi.fund_name
    fund_name = hi.f20.to_s.gsub("Greenwich ","").gsub(" Regional Index","") if fund_name=="Composite"
  %>
  <tr class="btr<%= hi.level %>">
    <th class="r_border"><%= fund_name %></th>
    <td class=""><%= hi.total_return.round(1).to_s+"%" if !hi.total_return.nil? %></td>
    <td><%= hi.prev_return.round(1).to_s+"%" if !hi.prev_return.nil? %></td>
    <td><%= hi.ytd.round(1).to_s+"%" if !hi.ytd.nil? %></td>
    <td><%= hi.mon3.round(1).to_s+"%" if !hi.mon3.nil? %></td>
    <td class="r_border">&nbsp;<%= hi.yr1.round(1).to_s+"%" if !hi.yr1.nil? %></td>
    <td><%= hi.ann_yr3_car.round(1).to_s+"%" if !hi.ann_yr3_car.nil? %></td>
    <td class="r_border">&nbsp;<%= hi.ann_yr3_std.round(1).to_s+"%" if !hi.ann_yr3_std.nil? %></td>
    <td><%= hi.ann_yr5_car.round(1).to_s+"%" if !hi.ann_yr5_car.nil? %></td>
    <td><%= hi.ann_yr5_std.round(1).to_s+"%" if !hi.ann_yr5_std.nil? %></td>
    <td class="l_border" >&nbsp;<%= hi.weight.round(1).to_s+"%" if !hi.weight.nil? %></td>
  </tr>
  
  <% end %>
</table>
